body{
    background: linear-gradient(180deg, #fff 17%, #A7A7A7 86%);
}
.nav-link{
    color: #acaeac;
    font-size:25px;
    font-family: -apple-system;
}

.navbar-nav .nav-link.active{
    color: #000000;
}

.navbar-brand img {
    width: 250px;
}

.navbar-toggler {
    background-color: #ff0057;
}

.sidebar{
    color: #313131;
    background: rgba(60,60,60,0.12);
    border-radius: 15px;
}
.form-control {
    width: 400px;
    display: inline-block;
    border: 4px solid #c8c7c7;
    border-radius: 0;
    font-weight: bold;
}

.form-control:hover {
    border: 4px solid red;

}

.slide-text{
    color: black ;
    margin: auto auto ;
}

.Slide{
    color: #ff0057;
}

.carousel-inner {
    height: 300px;
    border-radius: 60px;
    background-color: white;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.images{
    max-width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}








